$radius: 4px;

.wrapper-language {
  float: right;

  button {
    padding: 10px 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    font-size: 12px;
    color: #ccc;
    cursor: pointer;

    &.active {
      background-color: #19980a;
      color: #fff;
    }

    &:hover {
      background-color: rgba(25, 152, 10, 0.66);
      color: #fff;
    }

    &:first-child {
      border-radius: $radius 0 0 $radius;
    }

    &:last-child {
      border-left: 0;
      border-radius: 0 $radius $radius 0;
    }
  }
}
