$borderRadius: 6px;

.wrapper-search {
  display: inline-block;
  position: relative;

  .search {
    position: relative;

    input {
      vertical-align: middle;
      padding: 10px 30px 10px 10px;
      border: 1px solid #ccc;
      border-right: none;
      border-radius: $borderRadius 0 0 $borderRadius;
      outline: none;
    }

    .close {
      position: absolute;
      top: 50%;
      right: 48px;
      transform: translateY(-50%);
      cursor: pointer;

      svg {
        width: 10px;

        path {
          fill: #ccc
        }

        &:hover {
          path {
            fill: #000
          }
        }
      }
    }

    .btn-search {
      padding: 8px 10px;
      border-left: none;
      border-radius: 0 $borderRadius $borderRadius 0;
      color: #fff;
      background-color: #19980a;
      cursor: pointer;
      vertical-align: middle;
      &:hover {
        opacity: .7;
      }
      &:active {
        box-shadow: 1px 2px 4px #000;
      }
    }
  }

  .search-list {
    position: absolute;
    width: 100%;
    padding: 10px 0;
    top: 40px;
    max-height: 200px;
    overflow: auto;
    z-index: 9;
    background-color: #999;
    border: 1px solid #ccc;
    border-radius: 6px;

    li {
      padding: 5px 10px;
      cursor: pointer;

      &:hover {
        background-color: #fff;
      }
    }
  }
}
